/* Header styles */

header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 999;
  background-color: rgb(255 255 255 / 80%);
}

header.sticky {
  background-color: rgb(255 255 255 / 80%);
  transform: translateY(-70px);
  position: fixed;
  border: none;
}

header.transform {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

header.sticky .container {
  border-bottom: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.49);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.nav_login {
  background: #ffffff;
  color: #191919;
  border-color: transparent;
  padding: 9px 25px;
  margin-right: 24px;
}

.nav_register {
  padding: 9px 25px;
}

.nav_toggle {
  width: 27px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.nav_toggle span {
  height: 2px;
  width: 100%;
  background: #000;
  margin-bottom: 7px;
  display: block;
}

.nav_toggle span:last-child {
  margin-bottom: 0px;
}

button.nav_toggle.active span {
  width: 63%;
}

button.nav_toggle.active span {
  background-color: #000000;
}

button.nav_toggle.active span:first-child {
  transform: translate(8px, 5px) rotate(45deg);
}

button.nav_toggle.active span:last-child {
  transform: translate(8px, -4px) rotate(135deg);
}

header .logo img {
  width: 100px;
}

.header_links {
  display: flex;
  width: 64%;
  justify-content: space-between;
  align-items: center;
}

.header_links ul {
  display: flex;
}

.header_links ul li a:hover {
  border-bottom: 2px solid;
}

.header_links ul li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 177%;
  color: #191919;
  margin-right: 40px;
}

@media screen and (max-width: 1200px) {
  .header_links {
    width: 68%;
  }
}

@media screen and (max-width: 991px) {
  .header_links ul li a {
    margin-right: 20px;
    font-size: 16px;
  }

  .header_links {
    width: 77%;
  }

  .nav_login {
    margin-right: 15px;
  }
}

@media screen and (max-width: 320px) {
  a.orange-btn.nav_register {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 768px) {
  .header_actions {
    position: initial;
    align-items: flex-start;
  }

  header .container {
    position: relative;
  }

  .header_links {
    background-color: #ffffff;
    padding: 56px 102px 32px 32px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 100%;
    transition: 0.4s ease-in-out;
  }

  .header_links.active {
    left: 0;
  }

  .header_links ul li a:hover {
    color: #fd6400;
  }

  .header_links ul li a:hover {
    border: none;
  }

  .header_links ul li a {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #464646;
    margin-bottom: 32px;
    margin-right: 0;
    display: block;
  }

  a.orange-btn.nav_login {
    border: 1px solid #191919;
    margin-bottom: 32px;
    padding: 10px 56px;
    margin-right: 0;
    font-size: 16px;
  }

  a.orange-btn.nav_register {
    font-size: 16px;
    padding: 10px 25px;
  }

  header .logo img {
    max-width: 55px;
  }

  .nav_toggle {
    display: inline-block;
  }

  .header_links.active,
  .header_links ul,
  .header_actions {
    flex-direction: column;
  }
}