.wrapper {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}
.product__slider-main .slide img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.wrapper .slick-arrow {
  width: 32px;
  height: 12px;
  left: 13%;
  z-index: 3;
  bottom: 26%;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 0;
  cursor: pointer;
}
.wrapper .slick-prev {
  left: 8%;
}
.slider_bottom {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  position: absolute;
  height: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.wrapper .slide {
  position: relative;
}
.slider_content {
  position: absolute;
  top: 32%;
  left: 8%;
  color: #ffffff;
  width: 50%;
}

.slider_content h2 {
  font-weight: 800;
  font-size: 60px;
  line-height: 80px;
  text-transform: uppercase;
}
.slider_content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 177%;
  width: 80%;
}

.product__slider-thmb {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
}
.product__slider-thmb .slide {
  flex: 1;
  color: #ffffff;
  text-transform: uppercase;
  height: 100%;
  display: block;
  height: 100px;
  padding: 0px 5px 0px 20px;
  display: flex !important;
  align-items: center;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;
  position: relative;
}
.product__slider-thmb .slide.slick-active1 {
  background: rgba(0, 0, 0, 0.5);
}
.product__slider-thmb .slide.slick-active1 span {
  background: #fd6400;
}
.product__slider-thmb .slide.slick-active1::after {
  width: 100%;
  transition: all 2.7s ease-out 0.8s;
}
.product__slider-thmb .slide::after,
.product__slider-thmb .slide::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 2px;
  background: #ffffff;
}
.product__slider-thmb .slide.slick-active1::before {
  width: 100%;
  transform: rotate(180deg);
  transform-origin: left center;
  animation: line 0.8s 1;
}
.product__slider-thmb .slide.slick-active1::before {
  opacity: 0;
  transition: opacity 0.01ms ease 0.8s;
}
@keyframes line {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.product__slider-thmb .slide span {
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-wrapper img {
  position: absolute;
  width: 32px;
  height: 12px;
  z-index: 1;
  cursor: pointer;
}
.pagination-wrapper .prev-img {
  left: 8%;
  bottom: 26%;
}
.pagination-wrapper .next-img {
  left: 13%;
  bottom: 26%;
}

@media screen and (max-width:1300px){
  .slider_content p{
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .pagination-wrapper .prev-img,
  .wrapper .slick-prev {
    left: 2%;
  }
  .pagination-wrapper .next-img,
  .wrapper .slick-next {
    left: calc(6% + 24px);
  }
}

@media only screen and (max-width: 991px) {
  .pagination-wrapper img,
  .wrapper .slick-arrow {
    bottom: unset;
    top: 60%;
  }
}

/* Differentiator Slider Css */
.differentiator-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.differentiator-slider {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
.differentiator-slider-main {
  width: 640px;
  max-width: 50%;
  position: absolute !important;
  right: 0;
  top: 0;
  height: 100%;
}
.differentiator-slider-main .slick-list,
.differentiator-slider-main .slick-list .slick-track,
.differentiator-slider-main img {
  height: 100% !important;
}
.differentiator-slider-main .slick-slide {
  position: absolute !important;
  height: 100% !important;
  left: auto !important;
  right: 0;
  border: 0 !important;
}
.differentiator-slider-main .slick-slide:first-child {
  position: relative !important;
}

.differentiator-slider-thmb {
  padding: 0 120px 0 0;
  width: 100%;
}
.differentiator-slider-thmb .slick-track,
.differentiator-slider-thmb .slick-list {
  height: auto !important;
}
.differentiator-slider-thmb .slick-slide {
  margin-bottom: 32px;
}
.differentiator-slider-thmb .slick-slide.slick-active1 p {
  display: block;
}
.differentiator-slider-thmb .slick-slide.slick-active1 h3 {
  font-weight: 600;
  color: #fd6400;
}
.differentiators_tab h3::after {
  content: "";
  width: 2px;
  height: 0;
  background-color: #fd6400;
  position: absolute;
  left: 0;
  top: 0;
}
.differentiator-slider-thmb .slick-slide.slick-active1 h3::after {
  animation: heightAnimation 3s 0s 1;
}
@keyframes heightAnimation{
  from{
    height: 0;
  }
  to{
    height: 100%;
  }
}
.tab-wrapper {
  width: calc(100% - 640px);
  padding: 100px 0;
}
.differentiators_tab img {
  display: none !important;
}
.differentiator-mobile {
  display: none;
}
@media only screen and (max-width: 1280px) {
  .tab-wrapper {
    width: 50%;
    padding-right: 70px;
  }
  .differentiators_details,
  .differentiator-slider-thmb {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .differentiator-slider {
    display: none;
  }
  .differentiator-mobile {
    display: block;
  }

  .differentiators_tab img {
    display: block !important;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  .differentiators_tab:last-child img {
    margin-bottom: 0;
  }

  .differentiators_tab h3::before {
    display: none;
  }
}
